@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;
  --background-rgb: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: white;
    --background-rgb: black;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
